<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/register.css">
    <title>&#127829; Deen Bakers</title>
</head>
<body>

    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav_logo">Deen's</a>
        </nav>
    </header>

    <div class="register-section">
        
        <div class="register-section-top">

            <div class="register-section-heading">
                <h3>Create an account</h3>
                <p>
                    Join Deen bakers&reg; to get access to online ordering, to Know about initiatives, product offers, and more.
                </p>
            </div>
            
        </div>

        <div class="register-section-content">

            <div class="register-form">
                <form action="/signup" method="POST">

                    <% if(messages.error) { %>

                    <span class="flash-warning"><%= messages.error %></span>

                    <% } %>
                    <fieldset>

                        <span class="form-heading-1">
                            Personal Information
                        </span><br>

                        <div class="personal-information-input">

                            <input type="text" value="<%= messages.fname %>" placeholder="First name" name="fname"><br>
                            <input type="text" value="<%= messages.lname %>" placeholder="Last name" name="lname"><br>

                        </div>

                    </fieldset>
                   
                    <fieldset>

                        <span class="form-heading-2">
                            Account Security
                        </span><br>

                        <div class="account-security-input">

                            <input type="email" value="<%= messages.email %>" name="email" id="" placeholder="Email address"><br>
                            <input type="password" name="password" id="" placeholder="Password"><br>

                        </div>

                    </fieldset>
                    
                    <fieldset>

                        <h2 class="sub-heading">Stay connected</h2>

                        <p class="offer-para-1">
                            Email is a great way to know about offers and what's new from Deen's&reg;.
                        </p>
    
                        <input type="checkbox" name="offer">
                        <label for="offer-checkbox">Yes I'd like email from Deen baker's</label><br>
    
                        <span class="offer-para-2">Know about initiatives,announcements and product offers.</span>

                    </fieldset>
                    
                    <div class="btn-create-account">

                        <input type="submit" value="Create account">

                    </div>

                </form>
            </div>

        </div>
    </div>

    <footer class="footer section">
        <div class="footer_container container grid">
            <div class="footer_content">
                <a href="#" class="footer_logo">Deen Bakers&reg;</a>
                <p class="footer_description">Order Products Faster <br> Easier</p>
            </div>

            <div class="footer_content">
                <h3 class="footer_title">Our Services</h3>
                <ul class="footer_links">
                    <!-- <li><a href="#" class="footer_link">Pricing</a></li>
                    <li><a href="#" class="footer_link">Discounts</a></li> -->
                    <li><a href="#" class="footer_link">Report a bug</a></li>
                    <li><a href="#" class="footer_link">Terms of Service</a></li>
                </ul>
            </div>

            <div class="footer_content">
                <h3 class="footer_title">Our Company</h3>
                <ul class="footer_links">
                    <!-- <li><a href="#" class="footer_link">Blog</a></li> -->
                    <li><a href="/mission" class="footer_link">Our mission</a></li>
                    <li><a href="#" class="footer_link">Get in touch</a></li>
                </ul>
            </div>

            <div class="footer_content">
                <h3 class="footer_title">Community</h3>
                <ul class="footer_links">
                    <!-- <li><a href="#" class="footer_link">Support</a></li> -->
                    <li><a href="/faq" class="footer_link">Questions</a></li>
                    <li><a href="#" class="footer_link">Customer help</a></li>
                </ul>
            </div>

            <div class="footer_social">
                <a href="" class="footer_social-link"><i class='bx bxl-facebook-circle'></i></a>
                <a href="" class="footer_social-link"><i class='bx bxl-twitter'></i></a>
                <a href="" class="footer_social-link"><i class='bx bxl-instagram-alt'></i></a>
            </div>
        </div>

        <p class="footer_copy">&#169; Deen Bakers All right reserved</p>
    </footer>

    <script src="/js/index.js"></script>
</body>
</html>